$focus_border: 1px solid #9abee3;
$focus_outline: 1px solid white;
$focus_shadow: 1px 1px 5px #9abee3;

$normal_border: 1px solid #ced4da;
$normal_outline: 1px solid white;

:host {
  height: 100% !important;
  // background-color: lime !important;
  margin: 0px !important;
  display: grid !important;

  // rows: header, details
  // colum: all
  grid-template: 2.2em 1fr / 1fr !important;

  font-family: "Futura-Book";

  font-size: 0.8em;

  // #mask{
  //   grid-column:1 / -1;
  //   grid-row:2 / -1;
  //   background-color: lime;
  //   z-index:104;
  //   opacity: 0.6;
  // }

  h2 {
    grid-row: 1;
    grid-column: 1 / -1;

    background-color: #3b5999;
    font-size: 1.2em;
    cursor: move;
    color: white;
    display: grid !important;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    margin: 0px !important;
    i {
      margin: 0px 10px 0px 10px;
    }
    > i:nth-child(3) {
      cursor: pointer;
    }
    #swatch {
      height: 1.1em;
      width: 1.1em;
      // background: red;
      border-radius: 50%;
    }
  }

  #details {
    font-size: 1.1em;
    // background-color: red;
    padding: 10px;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    gap: 5px;
    grid-template: auto 1fr auto auto auto / auto 1fr auto auto auto;

    align-items: center;

    > * {
      grid-row: 3;
    }

    #lbl_just {
      // text-align: right;
    }

    #lbl_ovr {
      text-align: right;
    }

    #grn {
      color: green;
    }

    #yel {
      // color: yellow;
      color: #ddcd12;
    }

    #ora {
      color: orange;
    }
    #ovr_just {
      padding: 5px;
      grid-row: 4/5;
      grid-column: 1 / -4;
      border: $normal_border;
      outline: $normal_outline;
      border-radius: 5px;

      font-family: "Futura-Book";
      resize: none;
    }
    #ovr_just:focus {
      outline: $focus_outline;
      border: $focus_border;
    }

    #actions {
      grid-column: -4/-1;
      grid-row: 4/5;

      display: grid;
      gap: 5px;
      grid-template: 1fr 1fr / 1fr;
      place-content: center;

      // margin:10px;
      padding: 10px;
      padding-top: 0px;
      button {
        font-family: "Futura-Book";
        padding: 4px;
        // margin:2px;
        border-radius: 8px;

        cursor: pointer;

        border: $normal_border;
        outline: $normal_outline;

        transition: 0.2s;

        &:focus {
          border: $focus_border;
          outline: $focus_outline;
        }

        &:hover {
          //outline: 1px solid #c0c0c0;
          //background-color: red;
          border: $focus_border;
          outline: $focus_outline;
          background-color: #c7cdd3;
        }

        
        &.disabled {
          cursor: not-allowed;
          &:hover{
            background-color:inherit;
          }
        }


      }
    }

    #grn,
    #yel,
    #ora {
      font-size: 1.5em;
      font-weight: bold;
      cursor: pointer;
    }

    .disable {
      color: gray !important;
      cursor: not-allowed !important;
    }

    $comm_width: 650px;

    #col_head {
      // border-top: 1px solid #c0c0c0;
      margin: 0px;
      grid-row: 1;
      grid-column: 1 / -1;
      // background-color: lime;
      display: grid;
      grid-template-columns: $comm_width auto;
      gap: 2px;
      > span {
        background-color: #c0c0c0;
        padding: 5px 10px;
        display: grid;
        place-content: center;
      }
    }

    .refLink {
      cursor: pointer;
    }
    .refLink:hover {
      text-decoration: underline;
    }

    #anoms {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      // border-bottom: 1px solid #c0c0c0;
      // grid-template-rows: repeat(50,50px);
      // grid-auto-rows: minmax(50px, auto);
      border: 1px solid #c0c0c0;
      overflow-y: auto;
      margin-top: 0px;
      display: grid;
      height: 285px;
      //height: 100%;

      font-size: 0.8em;

      grid-auto-rows: max-content;

      > div {
        display: grid;
        grid-template-columns: $comm_width auto;

        grid-auto-rows: max-content;

        align-content: start;
        > div:nth-child(odd) {
          // Commentary
          // background-color: lime;
          border-bottom: 1px solid #c0c0c0;
        }
        > div:nth-child(even) {
          // Date Identified
          text-align: center;
          border-bottom: 1px solid #c0c0c0;
        }

        > div {
          padding: 0.4em;
          box-sizing: border-box;
          margin-bottom: 0.2em;
        }
      }
    }

    // #mask{
    //   grid-column:1 / -1;
    //   grid-row:1 / -1;
    // }
  }

  // #mask{
  //   z-index:105;
  //   position:absolute;
  //   grid-column:1 / -1;
  //   grid-row:1 / -1;
  // }
}

::ng-deep.mat-dialog-container {
  // resize: both;
  padding: 0px !important;
  overflow: hidden;
  display: grid;
  grid-template: 1fr / 1fr;
  // height:100%;
}
