<h2 #heading mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <i class="fa fa-industry" style="text-shadow: 0px 0px 1px white;"  [style.color]="info.color ? info.color : info.spare ? ds.CL_LIGHT_BLUE : ds.CL_GREEN"></i>
  <!-- <div id="swatch" [style.background-color]="info.color ? info.color : info.spare ? ds.CL_LIGHT_BLUE : ds.CL_GREEN">&nbsp;</div> -->
  <span>{{title}}</span>
  <i class="fa fa-times" (click)="Close()" matTooltip="Close..."></i>
</h2>
<div id="details">
  
  <span id="lbl_just">Override Justification:</span>
  <span id="lbl_upsw">Under Preservation:</span>
  <i id="upsw" matTooltip="Toggle under prservation status..." [ngClass]="UPClass()" (click)="ToggleUP()"></i>
  <span id="lbl_ovr">Applied Override:</span>
  <i id="grn" matTooltip="Set status override to GREEN..." [ngClass]="SwitchClass(1)" (click)="SetOverride(1)"></i>
  <i id="yel" matTooltip="Set status override to YELLOW.." [ngClass]="SwitchClass(2)" (click)="SetOverride(2)"></i>
  <i id="ora" matTooltip="Set status override to ORANGE..." [ngClass]="SwitchClass(3)" (click)="SetOverride(3)"></i>


  <div id="col_head">
    <span>Commentary</span>
    <span>Identified</span>
  </div>

  <div id="anoms">
    <div *ngFor="let item of info.anoms">
      <div><span [style.color]="ds.colors[item.clr-1]" style="font-weight: bold;"><span class="refLink"
            (click)="ds.OpenAnomaly(item.id,dialogRef)"
            matTooltip="Click to open anomaly record...">[{{item.ref}}]</span> {{item.ass}} {{item.tit}}.
        </span><span [innerHTML]="ds.FormatDesc(item.desc)"></span></div>
      <div [innerHTML]="ds.dateStr(item.ident)"></div>
    </div>
  </div>

  <textarea *ngIf="!withAnoms" disabled name="ovr_just" #just id="ovr_just" cols="80" rows="4" [innerHTML]="''"></textarea>
  <textarea *ngIf="withAnoms" name="ovr_just" #just id="ovr_just" cols="80" rows="4" [innerHTML]="this.info.ovrJust"></textarea>

  <div  id="actions">
    <button (click)="Submit()">Accept</button>
    <!-- <button *ngIf="withAnoms" (click)="Submit()">Accept</button> -->
    <!-- <button *ngIf="!withAnoms" class="disabled" disabled>Accept</button> -->
    <button (click)="Close()">Cancel</button>
  </div>

  
</div>


<app-progress-mask id="mask" *ngIf="ds.postingOverrides"></app-progress-mask>

