<h2 #heading mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <i class="fa fa-industry"></i><span>{{info.label}}</span>
  <i class="fa fa-times" (click)="Close()" matTooltip="Close..."></i>
</h2>
<div id="details">
  <span>Current Status:</span>
  <div id="swatch" [style.background-color]="info.color ? info.color : info.spare ? ds.CL_LIGHT_BLUE : ds.CL_GREEN">
    &nbsp;</div>
  <span>Applied Override:</span>
  <i id="grn" matTooltip="Set status override to GREEN..." [ngClass]="SwitchClass(1)" (click)="SetOverride(1)"></i>
  <i id="yel" matTooltip="Set status override to YELLOW.." [ngClass]="SwitchClass(2)" (click)="SetOverride(2)"></i>
  <i id="ora" matTooltip="Set status override to ORANGE..." [ngClass]="SwitchClass(3)" (click)="SetOverride(3)"></i>


  <div id="col_head">
    <span>Commentary</span>
    <span>Identified</span>
  </div>

  <div id="anoms">
    <div *ngFor="let item of info.anoms">
      <div><span [style.color]="ds.colors[item.clr-1]" style="font-weight: bold;"><span class="refLink"
            (click)="ds.OpenAnomaly(item.id,dialogRef)"
            matTooltip="Click to open anomaly record...">[{{item.ref}}]</span> {{item.ass}} {{item.tit}}.
        </span><span [innerHTML]="ds.FormatDesc(item.desc)"></span></div>
      <div [innerHTML]="ds.dateStr(item.ident)"></div>
    </div>
  </div>


</div>

<app-progress-mask id="mask" *ngIf="ds.postingOverrides"></app-progress-mask>

