<div #cont [style.font-size.em]="fontFactor ? fontFactor : null"
  (click)="SetOverride($event)"
  [style.background]="ds.back(_id)"
  [style.border-color]="ds.border(_id)"
  [style.color]="ds.fore(_id)"
  [style.border-radius]="!round ? rad+'px' : '50%'">
  <span *ngIf="lblUL" id="ul">{{lblUL}}</span>
  <span *ngIf="lblUR" id="ur">{{lblUR}}</span>
  <span *ngIf="lblLR" id="lr">{{lblLR}}</span>
  <span *ngIf="lblLL" id="ll">{{lblLL}}</span>

  <div id="mid" [ngStyle]="{'writing-mode': vt ? 'vertical-rl':null,'text-orientation': vt ? 'upright':null}">
    <i id="ovr" *ngIf="ds.ovr(_id) && !ovrBottom && !isVertical"
      class="fa fa-certificate" [style.color]="ds.override(_id)"
     ></i>
     <span [innerHTML]="lbl"></span>

  </div>
  <div id="mb" *ngIf="ds.ovr(_id) && (ovrBottom || isVertical)">
    <i id="ovr_out" class="fa fa-certificate" [style.color]="ds.override(_id)"></i>
  </div>

</div>

<div #label style="display: none;">
  <ng-content></ng-content>
</div>
