<!-- main symbol -->
<div #cont [style.font-size.em]="fontFactor ? fontFactor : null" (click)="SetOverride($event)" [style.background]="back"
  [style.color]="fore" [style.margin-right.px]="22" [style.border-radius]="!round ? rad+'px' : '50%'"
  [style.border]="noFill || labelOnly ? 'none' : '2px solid '+ (backColor? backColor : border)"
  >
  <span *ngIf="lblUL" id="ul">{{lblUL}}</span>
  <span *ngIf="lblUR" id="ur">{{lblUR}}</span>
  <span *ngIf="lblLR" id="lr">{{lblLR}}</span>
  <span *ngIf="lblLL" id="ll">{{lblLL}}</span>

<!-- [style.grid-template]="'grid-template: 1fr auto 1fr / 1fr auto 1fr auto'" -->

  <span *ngIf="lblTop" id="lbl_top" [innerHTML]="lbl"></span>
  <span *ngIf="lblBottom" id="lbl_bottom" [innerHTML]="lbl"></span>
  <span *ngIf="lblLeft" id="lbl_left" [innerHTML]="lbl"></span>
  <span *ngIf="lblRight" id="lbl_right" [innerHTML]="lbl"></span>


  <div id="mid" *ngIf="!(lblTop || lblBottom|| lblLeft || lblRight)"
    [ngStyle]="{'writing-mode': vt ? 'vertical-rl':null,'text-orientation': vt ? 'upright':null}">
    <!-- inline override symbol -->
    <i id="ovr" *ngIf="ds.ovr(_id) && !ovrBottom && !isVertical && lbl && !cw90" 
      class="fa fa-certificate"
      [style.color]="ds.override(_id)"></i>
    <span [class]="cw90 ? 'cw90' : null" [innerHTML]="lbl"></span>
  </div>

  <!-- bottom or vertical override symbol -->
  <div id="mb" *ngIf="ds.ovr(_id) && (ovrBottom || isVertical) && lbl">
    <i id="ovr_out" class="fa fa-certificate" [style.color]="ds.override(_id)"></i>
  </div>

  <div id="nofill_box" *ngIf="noFill && !labelOnly" [style.border-color]="border"></div>

</div>

<div #label style="display: none;">
  <ng-content></ng-content>
</div>